*~
*-src
\#*
.\#*
recsync.service
*.list
.versions
site-template/channelfinderapi.conf
site-template/recsync.conf

# local files
/configure/*.local
/configure/RELEASE.*
/configure/CONFIG_SITE.*
/modules/RELEASE.*.local
/modules/Makefile.local
/*Top/configure/*.local
